.handle-tool-drag {
    background: var(--bb-bg-surface-secondary);
    height: 20px;
    user-select: none;
    cursor: row-resize;
    border: 1px solid var(--bb-border-color);
    line-height: 14px;

    &:before {
        content: '\2261';
        color: var(--bb-secondary);
        position: absolute;
        left: 50%;
        font-size: 20px;
    }

    &:hover {
        background: var(--bb-bg-surface-tertiary, var(--bb-bg-surface));

        &:before {
            color: var(--bb-body-color);
        }
    }
}

.panel-section {
    .panel-section-item {
        .panel-section-item-icon {
            height: 40px;
            width: 40px;
            background-color: var(--bb-body-bg);
            padding: 4px;
            border-radius: var(--bb-card-border-radius);

            .icon {
                color: var(--bb-icon-color);
            }
        }
    }
}
